<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <title>10,000 hours - Master Yourself</title>
        <title>Login</title>
        <style type="text/css">
            label {
              width:100px;
            }
          
        </style>
    </head>
    <h1>10,000h - Master Yourself!</h1>
    <body>
    
   <body>

        <div class="loginblock" th:if="${param.error}">
            Invalid username or password
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Username: <br><input type="text" name="username"/> </label></div>
            <div><label> Password: <br><input type="password" name="password"/> </label></div>
            <div class="napit-rivi">
            <div>&nbsp;</div>
           <input class="btn button-success" type="submit" value="Sign In"/>
           <a class="btn button-success" th:href="@{/signup}">Registration</a></div>
        </form>
    </body>
</html>